<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
<body>
    <h1><%= title %></h1>
    <div>
        <a href="/data/init">data-init</a>
    </div>
    <div>
        <a href="https://127.0.0.1:7473">neo-4j browser</a>
    </div>
</body>
</html>
